Package: me.urandom.nolastpassscreenshot
Name: NoLastPassScreenshot
Depends: mobilesubstrate
Version: 0.2
Architecture: iphoneos-arm
Description: Disable iOS's screenshot ability when LastPass is opened.
Maintainer: Gianguido "plk" Sorà
Author: Gianguido "plk" Sorà
Section: Tweaks
